*{
margin: 0;
padding: 0;
}
.container{
    width:80% ;
    margin: 0 auto;
}
body{
    background:url("./photo_5456601520180153082_y.jpg")no-repeat center/cover;
}
#header{
padding: 50px 0;
}
 a{
    text-decoration: none; 
} 
body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* /////////////////////////////////////////////////// HEADER //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.logo{
   display: flex;
   align-items: center;
   gap: 10px;
}
.logo h2{
    color: #FFF;
font-family: Rubik;
font-size: 20px;
font-weight: 500;
}
nav a{
    
    color: #e3e3e3;
font-family: DM Sans;
font-size: 14px;
font-weight: 500;
margin: 0 30px;
margin-left: 70px;
}
nav a:hover{
   transition: 1s;
    color: #f33906;
    font-size: 20px;
}
.contact{
    border-radius: 5px;
background: var(--Gardient, linear-gradient(90deg, #2563EB 0.36%, #D946EF 201.02%));
padding: 10px 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile{
    padding: 10px 20px;
    background: purple;
    display: none;
}
  
/*////////////////////////////////////////////////// HEADER END ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* ////////////////////////////////////////////////// VISUAL //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#visual{
    padding: 30px 0;
}
.visual-text h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
font-family: DM Sans;
font-size: 58px;
font-weight: 700;
line-height: 84px; 
letter-spacing: 1.16px;
background: var(--Gd, linear-gradient(90deg, #2563EB 0.11%, #D946EF 18.65%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;   
}
.visual-text p{
    color: #E5E7EB;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
font-family: DM Sans;
font-size: 15px;
font-weight: 500;
line-height: 30px; 
margin: 50px 0px;
}
.buttons button{
    padding: 20px 40px; 
    
}
.buttons .btn-1{
    color: #F9FAFB;
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
border-radius: 6px;
background: var(--Gardient, linear-gradient(90deg, #2563EB 0.36%, #D946EF 201.02%));    
}
.buttons .btn-2 {
    background: rgba(17, 24, 39, 0.52);
backdrop-filter: blur(33px);
color: #F9FAFB;
font-family: DM Sans;
font-size: 16px;
font-weight: 500;

}
.visual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
/* //////////////////////////////////////// VISUAL END///////////////////////////////////////////////////////////// ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/* //////////////////////////////////////////////////// ACER //////////////////////////////////////////////////////////////////////////// */
    .acer h1{
        color: #FFF;
font-family: DM Sans;
font-size: 42px;
font-weight: 700;
text-align: center;
margin: 20px 0;
    }
.acer p{
    color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin: 30px 0;
}

.acer-card h2{
    color: #FFF;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
margin: 10px 56px ;
}
.acer-card h6{
    color: #FFF;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 0 12px; 
}
.acer-card{
    width: 300px;
height: 300px;
    border-radius: 34px;
border: 1px solid var(--Bg-2, rgba(255, 255, 255, 0.08));
background: linear-gradient(268deg, rgba(254, 254, 255, 0.03) -11.04%, rgba(255, 255, 255, 0.02) 104.89%);
box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
}
.acer-card h3{
    color: #FFF;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin: 20px 100px;

}

.acer-text{
    display: flex;   
    justify-content:space-evenly;
}
.acer-card img{
    margin: 10px 130px;
}
.acer-cardd img{
    margin: 10px 130px ;
}
.acer-text{
    padding: 10px 0;
}
.acer-cardd h2{
    color: #FFF;
font-family: DM Sans;
font-size: 24px;
font-weight: 500;
margin: 10px 11px;
margin-left:60px ;
}
.acer-cardd h6{
    color: #FFF;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 0 12px; 
}
.acer-cardd{
    width: 300px;
height: 300px;
    border-radius: 34px;
border: 1px solid var(--Bg-2, rgba(255, 255, 255, 0.08));
background: linear-gradient(268deg, rgba(254, 254, 255, 0.03) -11.04%, rgba(255, 255, 255, 0.02) 104.89%);
box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
}
.acer-cardd h3{
    color: #FFF;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin: 20px 100px;
}
.acer-text{
    display: flex;   
    justify-content:space-evenly;
}
/* /////////////////////////////////////////////////// ACER END //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////// HERO ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#hero{
    padding: 120px 0;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.hero-text h1{
    color: #FFF;
font-family: DM Sans;
font-size: 42px;
font-weight: 700;
}
.hero-text p{
    margin: 30px 0;
    color: #FFF;
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.hero-text button{
    padding: 10px 20px ;
    color: #FFF;
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
border-radius: 4px;
background: var(--Gardient, linear-gradient(90deg, #2563EB 0.36%, #D946EF 201.02%));
}
/*////////////////////////////////////////////////////////////////// HERO END  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/* ///////////////////////////////////////////////////////////////////////// MEE //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.mee {
    text-align: center;
}

.mee h1 {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 20px 0;
}

.mee p {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.mee-blocks {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* flex-wrap: wrap; */
    
}

.mee-block {
    width: 270px;
    height: 250px;
    border-radius: 34px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(268deg, rgba(254, 254, 255, 0.03) -11.04%, rgba(255, 255, 255, 0.02) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 20px;
    text-align: center;
}

.mee-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.mee-block h2 {
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: 'DM Sans', sans-serif;
}

.mee-block h3 {
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: 'DM Sans', sans-serif;
}

.meme {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.meme img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* //////////////////////////////////////////////// MEE END ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */


/* ///////////////////////////////////////////////////////// INPUT //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.input h1 {
    color: #FFF;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 50px 0;
}

.input h6 {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 90px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.inputs input {
    padding: 20px;
    width: 100%;
    border: none;
    border-radius: 70px;
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.03) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.inputs button {
    padding: 12px 40px;
    border-radius: 70px;
    background: linear-gradient(90deg, #2563EB 0.36%, #D946EF 101.02%);
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    position: absolute;
    right: 15px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
}

.inputs button ion-icon {
    margin-right: 8px;
}
/* ////////////////////////////////////////////////////////////////////////////////////// INPUT END ////////////////////////////////////////////////////////////////////////////////////////////////// */
#footer {
    background-color: #1E1E1E;
    padding: 20px 0px;
    margin-top:60px;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.block {
    flex: 1;
    min-width: 200px;
    margin-bottom: 30px;
}

.img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img h6 {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.block h3 {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin: 10px 0;
}

.icon {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.icon span {
    font-size: 24px;
    color: #E5E7EB;
    cursor: pointer;
}



/* ///////////////  MEDIA ///////////////////////////////////////////////////////////////////////////////////////////// */


@media(max-width:1020px){
.mobile{
    display: flex;
}

     nav a{
     display: none;}
    }

    @media(max-width:767px){
        .mobile{
            display: flex;
        }
        
       nav a{
       display: none;}

       .contact{

        padding: 10px 5px;
       }
    }


@media (max-width: 767px) {
    .visual-text h1 {
        font-size: 25px;
        line-height: 50px;
        text-align: center;
    }

    .visual-text p {
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        margin: 20px 0;
    }

    .buttons button {
        padding: 10px 20px;
        width: 70%;
        margin-bottom: 15px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .visual {
        flex-direction: column;
        align-items: center;
    }
    .visualImg{
        width: 300px;
    }
}





@media (max-width: 1020px) {
    .acer h1 {
        font-size: 36px;
    }

    .acer p {
        font-size: 14px;
    }

    .acer-card, .acer-cardd {
        width: 250px;
        height: 250px;
    }

    .acer-card h2, .acer-cardd h2 {
        font-size: 22px;
        margin: 10px 40px;
    }

    .acer-card h3, .acer-cardd h3 {
        margin: 20px 80px;
    }

    .acer-card img, .acer-cardd img {
        margin: 10px 100px;
    }
    
    .acer-text {
        flex-wrap: wrap;
    }
}


@media (max-width: 767px) {
    .acer h1 {
        font-size: 28px;
        margin: 15px 0;
    }

    .acer p {
        font-size: 12px;
        line-height: 20px;
        margin: 20px 0;
    }

    .acer-card, .acer-cardd {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .acer-card h2, .acer-cardd h2 {
        font-size: 20px;
        margin: 10px;
        text-align: center;
    }

    .acer-card h3, .acer-cardd h3 {
        margin: 10px;
        text-align: center;
    }

    .acer-card img, .acer-cardd img {
        margin: 10px auto;
    }

    .acer-text {
        flex-direction: column;
        align-items: center;
    }



@media (max-width: 1020px) {
    .heroImg{
        /* width: 100px; */
    }
    #hero {
        padding: 80px 0;
    }

    .hero {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text p {
        font-size: 14px;
        line-height: 24px;
    }

    .hero-text button {
        padding: 8px 18px;
        font-size: 13px;
    }
}
}


@media (max-width: 767px) {
    .heroImg{
        width: 300px;
    }
    #hero {
        padding: 60px 0;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .hero-text p {
        font-size: 10px;
        line-height: 20px;
        margin: 20px 0;
    }

    .hero-text button {
        padding: 10px 30px;
        font-size: 12px;
    }
}

@media(max-width:767px){
    .mee-blocks {
        display: flex;
        justify-content: center;
        gap: 40px;
flex-direction: column;        
    }

    
.mee-block {
    width: 275px;
    height: 250px;
    border-radius: 34px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(268deg, rgba(254, 254, 255, 0.03) -11.04%, rgba(255, 255, 255, 0.02) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 20px;
    text-align: center;
}
}




@media(max-width:320px){
    .mee-blocks {
        display: flex;
        justify-content: center;
        gap: 20px;
       flex-direction: column;        
    }

    
.mee-block {
    width: 220px;
    height: 215px;
    border-radius: 34px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(268deg, rgba(254, 254, 255, 0.03) -11.04%, rgba(255, 255, 255, 0.02) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 20px;
    text-align: center;
}
}



@media(max-width:767px){
    .input h1 {
        color: #FFF;
        text-align: center;
        font-family: 'DM Sans', sans-serif;
        font-size:20px;
        font-weight: 700;
    }
    
    .input h6 {
        color: #FFF;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 90px;
    }
    
    .inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 400px;
    }
    
    .inputs input {
        width: 100%;
        border: none;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(254, 254, 255, 0.03) 0%, rgba(255, 255, 255, 0.05) 100%);
        box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
        color: #FFF;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
    }
    
    .inputs button {
  display: none;
        
    }

    
}


